<div id="<%= dom_id bot %>">
  <p>
    <strong>Name:</strong>
    <%= bot.name %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= bot.platform %>
  </p>

  <p>
    <strong>Config store:</strong>
    <%= bot.config_store %>
  </p>

</div>
